@import url(7.css);
@import url(fonts.css);
@import url(vars.css);

body {
    background-color: var(--bkg-clr);
}

.window {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: scroll;
  max-width: 30vw !important;
}